html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background: #2c2141;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}

.main {
  padding: 32px;
  background: #e5e5e5;
  border-radius: 16px;
  width: 624px;
  margin: 16px;
  display: flex;
  align-items: space-around;
}

.person {
  display: flex;
  align-items: flex-start;
}

.person__picture{
  margin-right: 32px;
}

.person__info{
  margin-bottom: 24px;
}

.person__name {
  font-size: 36px;
  margin: 0;
  font-weight: normal;
}
.person__work {
  margin: 0;
  font-style: italic;
  color: #545454;
  font-size: 18px;
}

.person__description {
  font-size: 16px;
  line-height: 22px;
  text-align: justify;
  margin: 0;
}

.person__description--with-margin{
  margin-bottom: 22px;
}

.special__orange {
  color: #ed6d05;
  font-weight: normal;
}

.person__link {
  color: #e20613;
  font-weight: normal;
  text-decoration: none;
}
